<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="110.0.25" targetFramework="net48" />
  <package id="cef.redist.x86" version="110.0.25" targetFramework="net48" />
  <package id="CefSharp.Common" version="110.0.250" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="110.0.250" targetFramework="net48" />
  <package id="HandyControl" version="3.4.0" targetFramework="net462" />
  <package id="HarfBuzzSharp" version="2.8.2.3" targetFramework="net462" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2.3" targetFramework="net462" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.3" targetFramework="net462" />
  <package id="LiteDB" version="5.0.15" targetFramework="net462" />
  <package id="LiveChartsCore" version="2.0.0-beta.701" targetFramework="net462" />
  <package id="LiveChartsCore.SkiaSharpView" version="2.0.0-beta.701" targetFramework="net462" />
  <package id="LiveChartsCore.SkiaSharpView.WPF" version="2.0.0-beta.701" targetFramework="net462" />
  <package id="Markdig" version="0.30.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.3" targetFramework="net462" />
  <package id="SkiaSharp.Views.WPF" version="2.88.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>